.formContainer {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 10pt 0pt;
}

.button {
    background-color: #263159;
    border-radius: 5pt;
    padding: 5pt 10pt;
    color: white;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.button:hover {
    background-color: #ffcc34;
    color: #263159;
}