.navbar {
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    height: 60pt;
    position: fixed;
    top: 0;
}

.navbarHeading {
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #263159;
    font-size: 18pt;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.navbarHeading:hover {
    opacity: .9;
    transform: scale(1.1)
}

.navbarPages {
    padding: 3rem;
    color: #263159;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    cursor: pointer;
    flex-grow: 1;
    gap: 25pt;
    display: flex;
    opacity: 1;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.navbarPage > div {
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.navbarPages:hover > div {
    opacity: .3;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;

}

.navbarPages:hover > div:hover{
    opacity: 1;
    color: #ffcc34;
    transform: scale(1.1)
}



.navbarAuth {
    padding : 3rem;
    color: #263159;
    display: flex;
    gap: 25pt;
    cursor: pointer;
}

.navbarAuth:hover > div:hover{
    color:#ffcc34;
    transform: scale(1.1);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;

}

.signupButton {
    background-color: #251749;
    border: none;
    color: #FFFBEB;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
  }

  .signupButton:hover {
    background-color: #ffcc34;
    color: #263159;
  }

  .login {
      padding: 8px 0px;
  }

  .logo {
      margin-left: 25pt;
  }